<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h2 class="project-name"><a href="{{ site.github.url | default: site.description }}">{{ site.title }}</a></h2>
      <!--h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2-->
       <a href="{{ site.github.repository_url }}/tpm-cheat-sheets/docs/ai-table.html" class="btn">AI</a>
       <a href="{{ site.github.repository_url }}/tpm-cheat-sheets/docs/ml-table.html" class="btn">ML</a>
       <a href="{{ site.github.repository_url }}/tpm-cheat-sheets/docs/dp-table.html" class="btn">Data</a>
       <a href="{{ site.github.repository_url }}/tpm-cheat-sheets/docs/copilot-table.html" class="btn">Copilot</a>
       <a href="{{ site.github.repository_url }}/tpm-cheat-sheets/docs/admin-table.html" class="btn">Infra</a>
       <a href="{{ site.github.repository_url }}/tpm-cheat-sheets/docs/dev-table.html" class="btn">Dev</a>
       <a href="{{ site.github.repository_url }}/tpm-cheat-sheets/docs/security-table.html" class="btn">Security</a>
       <div>Last updated: <b>{{ page.last_modified_at | date: '%B %d, %Y' }}</b></div>
     </header>

    <main id="content" class="main-content" role="main">
      {% capture content %}{% include fancy-tables.liquid html=content %}{% endcapture %}
      <!-- Some other stuff... -->
      {{ content }}

      <footer class="site-footer">
       <span class="site-footer-credits">If you find any inaccuracies <a href="{{ site.github.issues_url }}/new">please let us know!</a>.</span>
      </footer>
    </main>
  </body>
</html>
